APT::Periodic::Update-Package-Lists "{{ apt_update_package_list }}";
APT::Periodic::Unattended-Upgrade "{{ apt_unattended_upgrade }}";
APT::Periodic::Download-Upgradeable-Packages "{{ apt_download_upgradeable_packages }}";
APT::Periodic::AutocleanInterval "{{ apt_autoclean_interval }}";
